body,
html {
    margin: 0;
    height: 100%;
    /* background-color: rgb(146, 146, 146); */
    overflow-x: hidden;
    background-image: url(site-images/blur.jpg);
}

h1 {
    font-family: 'Hknova-Regular', sans-serif;
}

.main {
    width: 85%;
    display: inline-block;
    margin: 0 0 0 7.5%;
    border-radius: 30px;
    background-color: rgb(101, 141, 142);
    position: sticky;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro {
    width: 200px;
    position: relative;
    margin-left: 50%;
    margin-top: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-site {
    position: relative;
    background-image: url(site-images/blur.jpg);
}

#img {
    width: 300px;
    text-align: center;
    background-color: aquamarine;
}

#about-me {
    text-align: center;
    height: 20%;
    color: #424242;
    font-family: 'Nova', sans-serif;
}

.center {
    width: 50%;
    margin: 25% 25% 0 25%;
    color: rgb(6, 19, 19);
    background-color: #e8e5e5;
    text-align: center;
    font-family: Helvetica;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 0;
}

.center_img {
    text-align: center;
}

.input_class {
    width: 100%;
    font-size: 12px;
}

.horizontal-line {
    color: black;
    height: 70px;
    padding: 0;
    margin: 0;
}

/*  NAV BAR */

.nav-bar {
    width: 100%;
    height: 70px;
    background: rgb(34, 47, 45);
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav-bar>.element {
    width: 19.5%;
    height: 100%;
    padding: 25px 0 25px 0px;
    text-align: center;
    margin: 0;
    color: #ebebeb;
    display: inline-block;
    font-family: 'Nova', sans-serif;
    position: sticky;
    font-size: 20px;
    cursor: pointer;
}

.nav-bar>.element:hover {
    background-color: rgb(32, 178, 171);
    height: calc(50%);
    opacity: 100%;
    text-decoration: underline;
    transition: all 0.5s;
}

.section {
    text-align: center;
    font-size: 25px;
    font-family: Verdana;
    font-weight: 650;
    font-style: inherit;
}

.section_header {
    margin-top: 4%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
}

.section_header>.section_bar {
    width: 25%;
    height: 10px;
    background: rgb(24, 135, 115);
    position: sticky;
    margin-top: 1%;
    margin-left: 37.5%;
    align-self: center;
    margin-bottom: 3.5%;
}

#lil-guy {
    height: 3rem;
    width: 12rem;
    margin: auto;
    margin-top: -10px;
    border-radius: 100px;
    background-color: #e8e5e5;
    text-align: center;
    border: #424242;
}

/* for project section */

.proj {
    margin-left: 4.7%;
    width: 100%;
}

.proj-container {
    width: 27%;
    height: 100%;
    background: rgb(156, 218, 206);
    position: sticky;
    margin-bottom: 3.5%;
    display: inline-block;
    margin-right: 1%;
    border: 10px rgb(156, 218, 206) solid;
}


.proj-des {
    width: 100%;
    height: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.proj-img {
    width: 100%;
    height: 80%;
    margin-bottom: 5px;
    background-size: cover;

}

.proj-img:hover {
    opacity: 60%;
}

.searchbar {
    width: 50%;
    height: 35px;
    margin-left: 25%;
    line-height: 35px;
    font-size: 18px;
    text-indent: 10px;
}


/* Table stuff */
/* table {
    border-collapse: collapse;
    width: 93%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 30px;
    margin-top: 5%;

}

th,
td {
    text-align: center;
    padding: 8px;
    color: #424242;
}

td {
    font-weight: lighter;
}

th {
    color: rgb(32, 31, 31);
    background-color: #e8e5e5;
    font-weight: bolder;
}

tr {
    font-weight: bold;
    font-size: 17px;
}

tr:nth-child(even) {
    background-color: #f1eeee;
}

.table-header {
    border: 5px #e8e5e5 solid;
} */


/* parallax */

.parallax-img {
    position: relative;
    opacity: 1;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.small-thin-rect {
    width: 100%;
    background-color: beige;
    height: 1px;
}

/* experience section */
.experience-tab {
    background-color: #636363;
    height: 50px;
    padding: 15px 0 15px 0;
    transition: all 0.5s;
    /* border: 0.5px solid white; */
}

.experience-tab::before {
    position: absolute;
    content: '';
    float: left;
    background-color: rgb(53, 53, 53);
    width: 0;
    height: 0;
    left: 24%;
    transition: all 0.5s;
    border: 0.5px solid transparent;
    opacity: 0;
}

.experience-tab:hover:before {
    animation: expanding-thing 1s forwards;
}

#experience-tab-text {
    position: absolute;
    text-align: center;
    font-size: 17px;
    text-shadow: 2px 2px 2px rgb(42, 42, 42);
    width: 75%;
    float: left;
    margin: 0px 0 0 12.5%;
    transition: all 0.5s;
    color: white;
}

#experience-tab-sub-desc{
    position: absolute;
    text-align: center;
    font-size: 12px;
    text-shadow: 2px 2px 2px rgb(42, 42, 42);
    color: rgb(200, 200, 200);
    transition: all 0.5s;
    margin: 28px 0 0 12.5%;
    opacity: 1;
    width: 75%;
}

#experience-tab-yr{
    position: absolute;
    text-align: center;
    font-size: 12px;
    text-shadow: 2px 2px 2px rgb(42, 42, 42);
    color: rgb(200, 200, 200);
    transition: all 0.5s;
    margin: 28px 0 0 12.5%;
    opacity: 0;
    width: 75%;
}

.experience-tab:hover #experience-tab-sub-desc{
    opacity: 0;
}

.experience-tab:hover #experience-tab-yr{
    opacity: 1;
    transform: translateX(-15px);
}

/* Animations */
@keyframes expanding-thing {
    0% {
        width: 0;
        height: 0;
        transform: translate(-50%, -15px);
        opacity: 1;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    40% {
        width: 0;
        height: 80px;
        transform: translate(-20%, -15px);
        opacity: 1;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: white;
    }

    100% {
        width: 60%;
        height: 80px;
        transform: translate(-8%, -15px);
        opacity: 1;
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: white;
    }

    /* 0% { height: 0; transform: translate(-50%, 0);}
    40% {width: 0; height: 50px; transform: translate(-50%, 0);}
    100% {width: 300px; height: 100px; transform: translate(-50%, 0);} */
}


/* Coursework tab bar */
.tab-bar {
    width: 75%;
    margin-left: 12.5%;
    height: 30px;
    background-color: aquamarine;
}

.tab-bar > .tab {
    position: sticky;
    float: left;
    width: 25%;
    height: 30px;
    background-color: darkolivegreen;
    line-height: 30px;
    transition: all 0.5s;
    cursor: pointer;

}
.tab:hover {
    transition: all 0.5s;
    background-color: darkseagreen;
}

.tab-year {
    color: #f1eeee;
    text-shadow: #636363;
    overflow: hidden;
}

.year-text {
    font-size: 16px;
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;
}

.cw-content {
    width: 80%;
    margin-left: 10%;
    
}