p {
    font-family: Helvetica;
}

#img {
    width: 300px;
    text-align: center;
    background-color: aquamarine;
}

.center {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Helvetica;
}

.center_img {
    text-align: center;
}

.input_class {
    width: 100%;
    font-size: 12px;
}   

.nav_bar {
    width: 15%;
    height: 100%;
    background: rgb(8, 61, 221);
    position: fixed;
    top: 0;
}

.nav_bar > .element {
    width: 100%;
    line-height: 50px;
    padding: 25px 0 25px;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
}
/* for the github, linkedin links */
.nav_bar > .bottom_element {

}
