p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.main {
    width: 80%;
    margin-left: 15%;
}


#img {
    width: 300px;
    text-align: center;
    background-color: aquamarine;
}

.center {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Helvetica;
}

.center_img {
    text-align: center;
}

.section {
    text-align: center;
    font-size: 25px;
    font-family: Verdana;
    font-weight: 650;
    font-style: inherit;
}

.input_class {
    width: 100%;
    font-size: 12px;
}   

.nav_bar {
    width: 12.5%;
    height: 100%;
    background: rgb(24, 135, 115);
    position: fixed;
    top: 0;
    margin-left: -0.75%;
}

.nav_bar > .element {
    width: 100%;
    line-height: 50px;
    padding: 25px 0 25px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
}

.nav_bar > .element:hover {
     width: 110%;
     background-color: lightseagreen;
}

.section_header {
    margin-top: 10%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
}

.section_header > .section_bar {
    width: 25%;
    height: 10px;
    background:rgb(24, 135, 115);
    position: sticky;
    margin-top: 1%;
    margin-left: 37.5%;
    align-self: center;
} 

